<div class="sign-inup">
  <div class="row ">
    <div class="col-12 d-flex justify-content-center">
      <img height="175px" width="300px" src="assets/images/logo.png" alt="">
    </div>
  </div>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-5">
        <div class="sign-form">
          <div class="sign-inner">
            <div class="form-dt" style="margin-top: 0;">
              <div class="form-inpts checout-address-step">
                <form>
                  <div class="form-title">
                    <h6>Request a Password Reset</h6>
                  </div>
                  <div class="form-group pos_rel">
                    <input
                      id="email[address]"
                      name="emailaddress"
                      type="email"
                      placeholder="Your Email Address"
                      class="form-control lgn_input"
                      required=""
                    />
                    <span
                      class="iconify"
                      data-icon="uil:envelope"
                      style="position: absolute; left: 8%; top: 25.9%"
                    ></span>
                  </div>

                  <div class="form-group pos_rel">
                    <input
                      id="password[old]"
                      name="passwordold"
                      type="password"
                      placeholder="Enter Old Password"
                      class="form-control lgn_input"
                      required=""
                    />
                    <span
                      class="iconify"
                      data-icon="uil:padlock"
                      style="position: absolute; left: 8%; top: 41.9%"
                    ></span>
                  </div>
                  <div class="form-group pos_rel">
                    <input
                      id="password[new]"
                      name="passwordnew"
                      type="password"
                      placeholder="Enter New Password"
                      class="form-control lgn_input"
                      required=""
                    />
                    <span
                      class="iconify"
                      data-icon="uil:padlock"
                      style="position: absolute; left: 8%; top: 57.9%"
                    ></span>
                  </div>
                  <button class="login-btn hover-btn" type="submit">
                    Reset Password
                  </button>
                </form>
              </div>
              <div class="signup-link">
                <p class="cred">Go Back - <a [routerLink]="['/sign-in']">Sign In Now</a></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

