<div class="row">
  <div class="col-md-12">
    <div class="main-title-tab">
      <h4>
        <span
          class="iconify"
          data-icon="uil:gift"
          style="margin-right: 10px; margin-bottom: 4px"
        ></span
        >My Rewards
      </h4>
    </div>
  </div>
  <div class="col-lg-12 col-md-12">
    <div class="pdpt-bg">
      <ul class="reward-body-all">
        <li>
          <div class="total-rewards">
            <div class="tt-icon">
              <span class="iconify" data-icon="uil:money-withdraw"></span>
            </div>
            <span>Cashbacks</span>
            <h4>{{ cashbacks | currency:'INR' }}</h4>
          </div>
        </li>
        <li>
          <div class="total-rewards">
            <div class="tt-icon">
              <span class="iconify mt-2" data-icon="uil:percentage"></span>
            </div>
            <span>Offers</span>
            <h4>{{ 0 | currency:'INR' }}</h4>
          </div>
        </li>
        <li>
          <div class="total-rewards">
            <div class="tt-icon">
              <span class="iconify" data-icon="uil:tag-alt"></span>
            </div>
            <span>Your Coupon</span>
            <h4 style="color: #f55d2c;">{{ currUser.coupon }}</h4>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <!-- <div class="col-lg-4 col-md-12">
    <div class="pdpt-bg">
      <div class="reward-body-dtt">
        <div class="reward-img-icon">
          <img src="assets/images/gift.svg" alt="" />
        </div>
        <span class="rewrd-title">Cashback Won</span>
        <h4 class="cashbk-price">{{ 50 | currency:'INR' }} </h4>
        <span class="date-reward">12 May 2020</span>
      </div>
    </div>
  </div>
  <div class="col-lg-4 col-md-12">
    <div class="pdpt-bg rewards-coupns">
      <div class="reward-body-dtt">
        <div class="reward-img-icon">
          <img src="assets/images/discount.svg" alt="" />
        </div>
        <span class="rewrd-title">Offer</span>
        <h4 class="cashbk-price">Get 25% Cashback</h4>
        <span class="date-reward">Expires on : 31st May</span>
      </div>
      <div class="top-coup-code" title="Coupon Code">Viaanmcoup25</div>
    </div>
  </div>
  <div class="col-lg-4 col-md-12">
    <div class="pdpt-bg rewards-coupns">
      <div class="reward-body-dtt">
        <div class="reward-img-icon">
          <img src="assets/images/coupon.svg" alt="" />
        </div>
        <span class="rewrd-title">Coupon Won</span>
        <h4 class="cashbk-price">Get 10% Cashback</h4>
        <span class="date-reward">Expires on : 25th May</span>
      </div>
      <div class="top-coup-code" title="Coupon Code">Viaanmcoup10</div>
    </div>
  </div>
  <div class="col-lg-4 col-md-12">
    <div class="pdpt-bg rewards-coupns">
      <div class="reward-body-dtt">
        <div class="reward-img-icon">
          <img src="assets/images/discount.svg" alt="" />
        </div>
        <span class="rewrd-title">Offer</span>
        <h4 class="cashbk-price">Get 15% Cashback</h4>
        <span class="date-reward">Expired on : 5th May</span>
      </div>
      <div class="top-coup-code" title="Coupon Code">Viaanmcoup15</div>
    </div>
  </div>
  <div class="col-lg-4 col-md-12">
    <div class="pdpt-bg rewards-coupns">
      <div class="reward-body-dtt">
        <div class="reward-img-icon">
          <img src="assets/images/coupon.svg" alt="" />
        </div>
        <span class="rewrd-title">Coupon Won</span>
        <h4 class="cashbk-price">Get 5% Cashback</h4>
        <span class="date-reward">Expires on : 20th May</span>
      </div>
      <div class="top-coup-code" title="Coupon Code">Viaanmcoup5</div>
    </div>
  </div>
  <div class="col-lg-4 col-md-12">
    <div class="pdpt-bg">
      <div class="reward-body-dtt">
        <div class="reward-img-icon">
          <img src="assets/images/gift.svg" alt="" />
        </div>
        <span class="rewrd-title">Cashback Won</span>
        <h4 class="cashbk-price">{{ 75 | currency:'INR' }}</h4>
        <span class="date-reward">3 May 2020</span>
      </div>
    </div>
  </div>
</div> -->
