.wrapper-blog {
    padding-top: 60px !important;
  }
  
  .offers-banner .owl-stage-outer {
    overflow: visible !important;
  }
  
  .offer-item {
    background: #fff;
    padding: 5px;
    border-radius: 5px;
    position: relative;
  }
  
  .offer-item-img {
    position: relative;
    width: 100%;
  }
  
  .offer-item-img img {
    border-radius: 5px;
    width: 100%;
  }
  
  .gambo-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #2b2f4c;
    border-radius: 5px;
    opacity: 0.05;
  }
  
  .offer-top-text-banner {
    position: absolute;
    top: 30px;
    left: 5%;
    background: rgba(255, 255, 255, 0.9);
    padding: 15px 15px 11px;
    width: 220px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
  }
  
  .offer-top-text-banner p {
    font-size: 12px;
    font-weight: 600;
    color: #00b207;
    margin-bottom: 3px;
    text-align: left;
    text-transform: uppercase;
  }
  
  .top-text-1 {
    font-size: 16px;
    font-weight: 500;
    color: #2b2f4c;
    margin-bottom: 5px;
    line-height: 24px;
    text-align: left;
  }
  
  .offer-top-text-banner span {
    font-weight: 500;
    font-size: 14px;
    color: #8f91ac;
    text-align: left;
    line-height: 24px;
  }
  
  .Offer-shop-btn {
    position: absolute;
    bottom: 20px;
    right: 8%;
    display: inline-block;
    padding: 10px 30px;
    background: #00b207;
    text-align: center;
    color: #fff;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 500;
  }
  
  .prev {
    position: absolute;
    left: 130px;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    color: gray;
  }
  
  .next {
    position: absolute;
    right: 105px;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    color: gray;
  }
  
  .prev:hover,
  .next:hover {
    background-color: #00b207;
    color: white;
  }
  
  .section145 {
    width: 100%;
    display: block;
  }
  
  .main-title-tt {
    margin-bottom: 27px;
    display: flex;
    align-items: flex-end;
  }
  
  .main-title-left {
    margin-right: auto;
  }
  
  .main-title-left span {
    font-size: 14px;
    font-weight: 600;
    text-align: left;
    color: #00b207;
    margin-bottom: 10px;
    display: block;
  }
  
  .main-title-left h2 {
    font-size: 24px;
    font-weight: 600;
    color: #2b2f4c;
    margin-top: 0;
    display: block;
  }
  
  .see-more-btn {
    padding-bottom: 5px;
    font-size: 14px;
    font-weight: 500;
    color: #2b2f4c;
    text-align: right;
  }
  
  .see-more-btn:hover {
    color: #00b207 !important;
  }
  
  .category-item {
    width: 100%;
    display: block;
    background: #fff;
    border-radius: 10px;
    text-align: center;
    padding: 20px;
  }
  
  .cate-img {
    width: 50px;
    text-align: center;
    display: inline-block;
  }
  
  .cate-img img {
    display: inline-block;
  }
  
  .category-item h4 {
    font-size: 14px;
    font-weight: 500;
    color: #2b2f4c;
    margin-top: 15px;
    text-align: center;
  }
  
  span.like-icon {
    color: #00b207;
    font-size: 18px;
    position: absolute;
    z-index: 101;
    right: 0;
    top: 0;
    cursor: pointer;
    background-color: rgba(246, 151, 51, 0.2);
    display: block;
    height: 35px;
    width: 35px;
    line-height: 37px;
    border-radius: 30px;
    transition: all 0.4s;
  }
  
  .like-icon:before,
  .like-icon:after {
    transition: opacity 0.3s, transform 0.4s cubic-bezier(0, -0.41, 0.19, 2.5);
    font-family: "Font Awesome 5 Free";
    position: absolute;
    right: 0;
    left: 0;
    text-align: center;
    top: 0px;
  }
  
  .like-icon:before {
    transform: scale(0.95);
  }
  
  .like-icon:after {
    opacity: 0;
    transform: scale(0.3);
    font-weight: 900;
  }
  
  .like-icon.liked:after {
    opacity: 1;
    transform: scale(0.95);
  }
  
  .like-icon:hover,
  .like-icon.liked {
    background-color: #00b207;
    color: #fff;
  }
  
  .like-icon.liked:before {
    opacity: 0;
  }
  
  .product-item {
    width: 95%;
    display: block;
    background: #fff;
    border-radius: 3px;
    text-align: center;
    padding: 15px;
    box-shadow: 0 1px 2px 0 #e9e9e9;
  }
  
  .product-img {
    width: 100%;
    position: relative;
    padding: 14px 20px;
    display: block;
  }
  
  .product-img img {
    width: 100%;
    transition: transform 0.5s ease;
  }
  
  img.carousel-img {
    border: 5px solid white;
    border-radius: 5px;
  }
  
  .product-item:hover img {
    transform: scale(1.1);
  }
  
  .offer-badge-1 {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 12px;
    font-weight: 500;
    color: #fff;
    background: #00b207;
    padding: 3px 10px;
    border-radius: 3px;
    line-height: 20px;
    text-transform: uppercase;
  }
  
  .product-text-dt p {
    font-size: 12px;
    font-weight: 500;
    color: #8f91ac;
    margin-bottom: 0;
    line-height: 24px;
  }
  
  .product-text-dt p span {
    margin-left: 5px;
  }
  
  .product-text-dt h4 {
    margin-top: 0;
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 10px !important;
    line-height: 24px;
    text-align: center;
    color: #2b2f4c;
  }
  
  .product-price {
    font-size: 18px;
    font-weight: 600;
    line-height: 24px;
    color: #00b207;
    text-align: center;
  }
  
  .product-price span {
    color: #c7c7c7;
    text-decoration: line-through;
    margin-left: 10px;
    font-weight: 600;
  }
  
  .qty-cart {
    align-items: center;
    margin-top: 17px;
  }
  
  .cart-icon {
    margin-left: auto;
    font-size: 25px;
    color: black;
    cursor: pointer;
  }
  
  .best-offer-item {
    display: block;
    width: 100%;
    margin-bottom: 30px;
    position: relative;
  }
  
  .best-offer-item img {
    width: 100%;
    border-radius: 5px;
  }
  
  .offer-counter-text {
    font-size: 30px;
    width: 100%;
    text-align: center;
    color: #fff;
    font-weight: 600;
    letter-spacing: 0px;
    text-shadow: 1px 3px 6px rgba(0, 0, 0, 0.2);
  }
  
  .cmtk_dt {
    position: absolute;
    bottom: 20px;
    left: 0;
    right: 0;
  }
  
  .code-offer-item img {
    width: 100%;
    border-radius: 5px;
  }
  .login {
    opacity: 0.3;
  }
  .loading{
    position: fixed;
    right: 0;
    bottom: 0;
    transform: translate(29rem, -25rem);
    z-index: 999;
    display: flex;
  }
  .loading span{
     position: relative;
     width: 50px;
     height: 50px;
     background: #eaeef0;
     margin: 0 10px;
     border-radius: 50%;
     border: 6px solid #eaeef0;
     box-shadow: -8px -8px 15px rgba(255, 255, 255, 1),
     8px 8px 15px rgba(0, 0, 0, 0.2),
     inset 3px 3px 5px rgba(0, 0, 0, 0.1),
     inset -1px -1px 5px rgba(255,255,255,1);
  }
  .loading span::before{
     content: '';
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     background: #5c89ff;
     border-radius: 50%;
     box-shadow: inset 3px 3px 5px rgba(0,0,0,0.1),
     inset -1px -1px 5px rgba(255,255,255,1);
     transform: scale(0);
     animation: animate 3.5s linear infinite, animateColor 5s linear infinite;
     animation-delay: calc(var(--i)*0.2s);
  }
  @keyframes animate
  {
     0%,9.99%,70.001%{
         transform: scale(0);
     }
     10%,70%{
         transform: scale(1);
     }
  }
  @keyframes animateColor
  {
     0%{
         filter: hue-rotate(0deg);
     }
     100%{
         filter: hue-rotate(360deg);
     }
  }
  
  .addcartbtn{
    background-color: #00b207;
  }
  .addcartbtn:hover{
    background-color: gray;
    color: white;
  }
  img.photo{
    width: 140px !important;
    height: 140px !important;
  }
  

  body {
    background-color: #536bc1;
    padding: 50px 30px;
    text-align: center;
    color: #fff;
    font: normal normal 24px / 1.25 "Raleway", Helvetica, Arial, Verdana, sans-serif;
  }
  
  body p {
    max-width: 60ch;
    margin: 0 auto 2em;
  }
  
  .testimonial-slider {
     display: block;
     width: 100%;
     height: auto;
     margin-top: 100px;
  }
  
  .testimonial-slider ul.slider {
     display: block;
     list-style: none;
     padding: 0;
     position: relative;
     display: inline-block;
     width: 100%;
     height: 350px;
     overflow: hidden;
     margin: 0 auto;
  }
  
  .testimonial-slider ul.slider li {
      position: absolute;
      display: block;
      width: 100%;
      opacity: 0;
      margin: 0 auto;
  }
  .testimonial-slider ul.slider li:nth-child(1) {
      opacity: 1;
  
      -webkit-animation: fade-animation-1 25s infinite;
              animation: fade-animation-1 25s infinite;
  }
  .testimonial-slider ul.slider li:nth-child(2) {
      -webkit-animation: fade-animation-2 25s infinite;
              animation: fade-animation-2 25s infinite;
  }
  .testimonial-slider ul.slider li:nth-child(3) {
      -webkit-animation: fade-animation-3 25s infinite;
              animation: fade-animation-3 25s infinite;
  }
  .testimonial-slider ul.slider li:nth-child(4) {
      -webkit-animation: fade-animation-4 25s infinite;
              animation: fade-animation-4 25s infinite;
  }
  
  .testimonial-slider q {
     display: inline-block;
     font: normal 700 50px / 1.25 "Raleway", Helvetica, Arial, Verdana, sans-serif;
     letter-spacing: .5pt;
     text-shadow: 0 5px 10px rgba(0,0,0,.1);
     max-width: 35ch;
  }
  
  .testimonial-slider .source {
      margin-top: 25px;
      color: #d9e0f9;
      font: italic 400 30px / 1.35 "Raleway", Helvetica, Arial, Verdana, sans-serif;
  }
  
  /* KEYFRAME DECLARATIONS */
  @keyframes fade-animation-1 {
      0%, 25%, 100% {
          opacity:0
      }
      3%, 22% {
          opacity: 1;
      }
  }
  @keyframes fade-animation-2 {
      0%, 25%, 50%, 100% {
          opacity:0
      }
      28%, 47% {
          opacity: 1;
      }
  }
  @keyframes fade-animation-3 {
      0%, 50%, 75%, 100% {
          opacity:0
      }
      53%, 72% {
          opacity: 1;
      }
  }
  @keyframes fade-animation-4 {
      0%, 75%, 100% {
          opacity:0
      }
      78%, 97% {
          opacity: 1;
      }
  }
  
  @-webkit-keyframes fade-animation-1 {
      0%, 25%, 100% {
          opacity:0
      }
      3%, 22% {
          opacity: 1;
      }
  }
  @-webkit-keyframes fade-animation-2 {
      0%, 25%, 50%, 100% {
          opacity:0
      }
      28%, 47% {
          opacity: 1;
      }
  }
  @-webkit-keyframes fade-animation-3 {
      0%, 50%, 75%, 100% {
          opacity:0
      }
      53%, 72% {
          opacity: 1;
      }
  }
  @-webkit-keyframes fade-animation-4 {
      0%, 75%, 100% {
          opacity:0
      }
      78%, 97% {
          opacity: 1;
      }
  }
  