<div  style="padding: 100px 74px 0px 74px; ">
  <div >
    <div class="col-md-12">
      <div class="main-title-tt">
        <div class="main-title-left">
         
          <h2>Book Packers And Movers
          </h2>

        
        </div>
      </div>
    </div>

  
    
    <div class="row" style="margin-top: 20px; margin-bottom: 70px;" >
      
      <div style="width: 300px;">
        <div class="product-item" (click)="addvehicle('t1')" >
         
          <div >
            <div style="height: 10px;"> </div>
            <p>WITH IN CITY          </p>
            <p style="font-size: 12px; color:blue;">Book Now</p>
            <div style="height: 10px;"> </div>
             </div>
          
        </div>
      </div>

      <div  style="width: 300px;">
        <div class="product-item" (click)="addvehicle1('t2')" >
         
          <div >
            <div style="height: 10px;"> </div>
            <p>DOMESTIC            </p>
            <p style="font-size: 12px; color:blue;">Book Now</p>
            <div style="height: 10px;"> </div>
             </div>
             
          
        </div>
      </div>

      <div  style="width: 300px; ">
        <div class="product-item" (click)="addvehicle2('t3')" >
         
          <div >
            <div style="height: 10px;"> </div>
            <p>OFFICE FACTORY      </p>
            <p style="font-size: 12px; color:blue;">Book Now</p>
            <div style="height: 10px;"> </div>
              
             </div>
          
        </div>
      </div>


      <div  style="width: 300px;">
        <div class="product-item" (click)="addvehicle3('t4')" >
         
          <div >
            <div style="height: 10px;"> </div>
            <p>INTENRATIONAL</p>

            <p style="font-size: 12px; color:blue;">Book Now</p>
            <div style="height: 10px;"> </div>
              
             </div>
          
        </div>
      </div>
    </div>

 
 
   
 
    

        
   
   
 
    
  </div>

  <!-- <div class="section145" style="padding-top: 50px">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="main-title-tt">
            <div class="main-title-left">
              <span>For You</span>
              <h2>Added New Products</h2>
            </div>
            <a
              class="see-more-btn"
              [routerLink]="['/main-page', 'new-products']"
              >See All</a
            >
          </div>
        </div>
      </div>
    </div>
  </div> -->
</div>