<div *ngIf="loaderService.isLoading | async" class="row">
  <div class="loading col-12">
    <span style="--i:0;"></span>
    <span style="--i:1;"></span>
    <span style="--i:2;"></span>
    <span style="--i:3;"></span>
    <span style="--i:4;"></span>
    <span style="--i:5;"></span>
    <span style="--i:6;"></span>
  </div>
</div>

<div [class.login]="loaderService.isLoading | async" class="sign-inup">
  <div class="row ">
    <div class="col-12 d-flex justify-content-center">
      <a [routerLink]="['/main-page', 'subscription']"><img class="main-logo" src="assets/img/Daak-Gaddi-logo-03-removebg-preview.png" alt=""  width="300px" height="200px"/></a>
    </div>
  </div>
  
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-5">
        <div class="sign-form">
          <div class="sign-inner" style="padding-top: 20;">
            <div class="sign-logo" id="logo">
            </div>
            <mat-error *ngIf="authError" class="error d-flex">
              <mat-icon style="margin-right: 3px;">cancel</mat-icon> Password Or Email is Invalid!
            </mat-error>
            <div class="form-dt" style="margin-top: 20;">
              <!-- <div class="form-inpts checout-address-step">
                <form #f="ngForm" (ngSubmit)="signIn(f.value)" [formGroup]="authService.signInForm">
                  <div class="form-title"><h6>Sign In</h6></div>
                  
                  <div class="form-group pos_rel">
                    <input
                      formControlName="email"
                      id="email[string]"
                      name="Email"
                      type="text"
                      placeholder="Email"
                      class="form-control lgn_input"
                      required
                    />
                   
                  </div>
                  <div class="form-group pos_rel">
                    <input
                      formControlName="password"
                      id="password1"
                      name="password1"
                      type="password"
                      placeholder="Password"
                      class="form-control lgn_input"
                      required=""
                    />
                   
                  </div>

                  
                  <button
                    class="login-btn hover-btn"
                    type="submit"
                  >
                    Sign In Now
                  </button>
                </form>
              </div> -->
              

              <div>

              <form >


                <div class="form-group pos_rel">
               
                  <input
                    (keyup)="checkVerifyBool()"
                    style="width:90%; margin: 40px;"
                    id="phone[number]"
                    name="phone"
                    type="text"
                    placeholder="Phone Number"
                    class="form-control lgn_input"
                    required=""
                    [(ngModel)]="phoneNumber"
                    min="10"
                    max="10"
                  />
                 
                  <!-- <span
                    class="iconify"
                    [ngStyle]="{'top':showOTPBool === true ? '54%' : '64%'}"
                    style="position: absolute; left: 8%;"
                    data-icon="uil:mobile-android-alt"
                  ></span> -->
                  <button                    
                   style="margin:10px;"
                  *ngIf="verifyBool === true" class="verify" (click)="getOTP()" type="button" style="margin-left: 8px;">Send OTP</button>
                  <div id="verify-otp"></div>
                  <div *ngIf="showOTPBool" style="position: absolute; width: 93%; margin-top: -22%;" class="row">
                    <div class="col d-flex justify-content-center">
                      <ng-otp-input (onInputChange)="onOtpChange($event)" [config]="config"></ng-otp-input>
                    </div>
                  </div>
                  
                  <div *ngIf="showOTPBool" style="position: absolute; width: 93%; margin-top: 12%;" class="row">
                    <div class="col d-flex justify-content-center">
                      <button type="button" (click)="verifyOTP()" style="width: 20%;" class="verify-otp" mat-raised-button>Verify</button>
                    </div>
                  </div>

                </div>

               
              </form>


              <!-- <button
              class="login-btn hover-btn"
              type="submit"
              [disabled]="verifyPhoneBool === false"
              style="margin-left:30px; width: 90%;"
              (click) = "nosignIn()"
            >
              Sign With Number
            </button> -->
              </div>
            
             
            </div>
            
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
