<div class="wrapper" style="background-color: #f7f7f7">
  <div class="gambo-Breadcrumb">
    <div class="container">
      <div class="row" style="padding-top: 10px">
        <div class="col-md-12">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="index.html">Home</a></li>
              <li class="breadcrumb-item active" aria-current="page">
                Contact Us
              </li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </div>
  <div class="all-product-grid" style="padding: 30px 175px">
    <div class="container" style="align-items: center">
      <div class="row">
        <div class="col-lg-8 col-md-8">
          <div class="contact-title">
            <h2>Submit customer service request</h2>
            <p>
              If you have a question about our service or have an issue to
              report, please send a request and we will get back to you as soon
              as possible.
            </p>
          </div>
          <div class="contact-form">

            <form #f="ngForm" [formGroup]="contactUsService.contactUsForm" (ngSubmit)="onSubmit(f.value)">
              <div class="row">
                <p>Full Name</p>
                <mat-form-field appearance="outline" color="warn">
                  <input formControlName="customerName" matInput placeholder="Your Full Name" />
                </mat-form-field>
              </div>
              <div class="row">
                <p>Email Address</p>
                <mat-form-field appearance="outline" color="warn">
                  <input formControlName="customerEmail" matInput placeholder="Your Email" />
                </mat-form-field>
              </div>
              <div class="row">
                <p>Subject</p>
                <mat-form-field appearance="outline" color="warn">
                  <input formControlName="customerAddress" matInput placeholder="Subject" />
                </mat-form-field>
              </div>
              <div class="row">
                <p>Message</p>
                <mat-form-field appearance="outline" color="warn">
                  <textarea formControlName="message" matInput placeholder="Write Message"></textarea>
                </mat-form-field>
              </div>

              <button
                class="next-btn16 hover-btn mt-3"
                type="submit"
                data-btntext-sending="Sending..."
              >
                Submit Request
              </button>
            </form>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
