
<div class="container ">
    <br>
    <br>
    <br>
    <h2 class="text-center">DAAK GAADI Branch Offices</h2>
  
    <div class="card mt-4">
      <div class="card-header">
        H.O Gurgaon (NCR)
      </div>
      <div class="card-body">
        <p class="card-text">Plot NO.141, Lane NO.2, Palam Vihar Extn.</p>
        <p class="card-text">Near Krishna Chowk, Gurugram, Haryana 122017</p>
        <p class="card-text">Email: <a href="mailto:pickup@daakgaadi.com">pickup@daakgaadi.com</a></p>
        <p class="card-text">Complaint: <a href="mailto:complaint@daakgaadi.com">complaint@daakgaadi.com</a></p>
        <p class="card-text">Phone: +91 9999167600</p>
      </div>
    </div>
  
   
    <div class="card mt-4">
      <div class="card-header">
        REGD. Office Ahmedabad
      </div>
      <div class="card-body">
        <p class="card-text">Plot No.RD 301, Umang Lanbha, Ahmedabad Bombay Highway, Aslali, Gujarat 382427</p>
        <p class="card-text">Email: <a href="mailto:pickup@daakgaadi.com">pickup@daakgaadi.com</a></p>
        <p class="card-text">Complaint: <a href="mailto:complaint@daakgaadi.com">complaint@daakgaadi.com</a></p>
        <p class="card-text">Phone: +91 9999167600</p>
      </div>
    </div>
  
    
    <div class="card mt-4">
      <div class="card-header">
        Faridabad Branch
      </div>
      <div class="card-body">
        <p class="card-text">18/1 Mathura Road, Ajrondi, Near Neelam Flyover, Faridabad, Haryana 121001</p>
        <p class="card-text">Email: <a href="mailto:pickup@daakgaadi.com">pickup@daakgaadi.com</a></p>
        <p class="card-text">Complaint: <a href="mailto:complaint@daakgaadi.com">complaint@daakgaadi.com</a></p>
        <p class="card-text">Phone: +91 9999167600</p>
      </div>
    </div>
  
   
    <div class="card mt-4">
      <div class="card-header">
        Mumbai Branch Office
      </div>
      <div class="card-body">
        <p class="card-text">13, Shiv mangal Market, AG Link Raod, Sakinaka, Asalfa Village, Ghatkopar (West), Mumbai - 400072.</p>
        <p class="card-text">Email: <a href="mailto:pickup@daakgaadi.com">pickup@daakgaadi.com</a></p>
        <p class="card-text">Complaint: <a href="mailto:complaint@daakgaadi.com">complaint@daakgaadi.com</a></p>
        <p class="card-text">Phone: +91 9999167600</p>
      </div>
    </div>
  
   
    <div class="card mt-4">
      <div class="card-header">
        Noida Branch Office
      </div>
      <div class="card-body">
        <p class="card-text">No.4, Hanuman Market, Harola, Sector-5, Noida, Uttar-Pradesh-201301</p>
        <p class="card-text">Email: <a href="mailto:pickup@daakgaadi.com">pickup@daakgaadi.com</a></p>
        <p class="card-text">Complaint: <a href="mailto:complaint@daakgaadi.com">complaint@daakgaadi.com</a></p>
        <p class="card-text">Phone: +91 9999167600</p>
      </div>
    </div>
  
   
    <div class="card mt-4">
      <div class="card-header">
        Bhiwadi Branch Office
      </div>
      <div class="card-body">
        <p class="card-text">A-2-904, Avlon Residenc, Toll Plaza, Bhiwadi, Rajasthan 301018</p>
        <p class="card-text">Email: <a href="mailto:pickup@daakgaadi.com">pickup@daakgaadi.com</a></p>
        <p class="card-text">Complaint: <a href="mailto:complaint@daakgaadi.com">complaint@daakgaadi.com</a></p>
        <p class="card-text">Phone: +91 9999167600</p>
      </div>
    </div>
  
   
    <div class="card mt-4">
      <div class="card-header">
        Jaipur Branch Office
      </div>
      <div class="card-body">
        <p class="card-text">Stadium, Shop No. B-6, Plot no. 536 Sector no.2, Chitrakoot Scheme, Near Pratap, Vaishali Nagar, Jaipur, Rajasthan 302021</p>
        <p class="card-text">Email: <a href="mailto:pickup@daakgaadi.com">pickup@daakgaadi.com</a></p>
        <p class="card-text">Complaint: <a href="mailto:complaint@daakgaadi.com">complaint@daakgaadi.com</a></p>
        <p class="card-text">Phone: +91 9999167600</p>
      </div>
    </div>
  

    <div class="card mt-4">
      <div class="card-header">
        Chandigarh Branch
      </div>
      <div class="card-body">
        <p class="card-text">Booth No 12, 44C, Chandigarh, 160047</p>
        <p class="card-text">Email: <a href="mailto:pickup@daakgaadi.com">pickup@daakgaadi.com</a></p>
        <p class="card-text">Complaint: <a href="mailto:complaint@daakgaadi.com">complaint@daakgaadi.com</a></p>
        <p class="card-text">Phone: +91 9999167600</p>
      </div>
    </div>
  
   
    <div class="card mt-4">
      <div class="card-header">
        Chennai Branch Office
      </div>
      <div class="card-body">
        <p class="card-text">No C- 51 C.M.D.A Truck Terminal Complex Madhavarm Chennai 600110</p>
        <p class="card-text">Email: <a href="mailto:pickup@daakgaadi.com">pickup@daakgaadi.com</a></p>
        <p class="card-text">Complaint: <a href="mailto:complaint@daakgaadi.com">complaint@daakgaadi.com</a></p>
        <p class="card-text">Phone: +91 9999167600</p>
      </div>
    </div>
  

    <div class="card mt-4">
      <div class="card-header">
        Bangalore Branch Office
      </div>
      <div class="card-body">
        <p class="card-text">B/34, Whitefield Main Rd, Kadugodi Colony, Prasanth Extension, Whitefield, Bengaluru, Karnataka 560066</p>
        <p class="card-text">Email: <a href="mailto:pickup@daakgaadi.com">pickup@daakgaadi.com</a></p>
        <p class="card-text">Complaint: <a href="mailto:complaint@daakgaadi.com">complaint@daakgaadi.com</a></p>
        <p class="card-text">Phone: +91 9999167600</p>
      </div>
    </div>
  
    
    <div class="card mt-4">
      <div class="card-header">
        Hyderabad Branch Office
      </div>
      <div class="card-body">
        <p class="card-text">Plot No.13, Shop No.1, Old Bowenpally, Secunderabad, Telangana 500011</p>
        <p class="card-text">Email: <a href="mailto:pickup@daakgaadi.com">pickup@daakgaadi.com</a></p>
        <p class="card-text">Complaint: <a href="mailto:complaint@daakgaadi.com">complaint@daakgaadi.com</a></p>
        <p class="card-text">Phone: +91 9999167600</p>
      </div>
    </div>
  
    
    <div class="card mt-4">
      <div class="card-header">
        Ahmedabad Branch Office
      </div>
      <div class="card-body">
        <p class="card-text">Plot No.RD 301, Umang Lanbha, Ahmedabad Bombay Highway, Aslali, Gujarat 382427</p>
        <p class="card-text">Email: <a href="mailto:pickup@daakgaadi.com">pickup@daakgaadi.com</a></p>
        <p class="card-text">Complaint: <a href="mailto:complaint@daakgaadi.com">complaint@daakgaadi.com</a></p>
        <p class="card-text">Phone: +91 9999167600</p>
      </div>
    </div>
  
   
    <div class="card mt-4">
      <div class="card-header">
        Kolkata Branch Office
      </div>
      <div class="card-body">
        <p class="card-text">Maniktala Main Rd, Kadapara, Phool Bagan, Kankurgachi, Kolkata, West Bengal 700054</p>
        <p class="card-text">Email: <a href="mailto:pickup@daakgaadi.com">pickup@daakgaadi.com</a></p>
        <p class="card-text">Complaint: <a href="mailto:complaint@daakgaadi.com">complaint@daakgaadi.com</a></p>
        <p class="card-text">Phone: +91 9999167600</p>
      </div>
    </div>

    <div class="card mt-4">
      <div class="card-header">
        Delhi Branch Office
      </div>
      <div class="card-body">
        <p class="card-text">Flat No-02, First Floor, Janki Devi Complex, Street No-11, Mahipalpur Extension, Delhi - 110037</p>
        <p class="card-text">Email: <a href="mailto:pickup@daakgaadi.com">pickup@daakgaadi.com</a></p>
        <p class="card-text">Complaint: <a href="mailto:complaint@daakgaadi.com">complaint@daakgaadi.com</a></p>
        <p class="card-text">Phone: +91 9999167600</p>
      </div>
    </div>
