<div  style="padding: 100px 74px 0px 74px">
  <div >
    <div class="col-md-12">
      <div class="main-title-tt">
        <div class="main-title-left">
         
          <h2>Rent Mini Trucks
          </h2>
        </div>
      </div>
    </div>

    <div class="row" style="margin-left: auto   ;" >
      <div style="width: 300px;  color: blue; "   *ngIf="light" (click)="changeligh(true)">
        Light (below 750kg)


      </div>
      <div style="width: 300px; color: grey;"  *ngIf="!light" (click)="changeligh(true)">
        Light (below 750kg)


      </div>

      <div style="width: 300px;  color: blue;"  *ngIf="!light"  (click)="changeligh(false)">
        Heavy (above 750kg) 
      </div>
      <div style="width: 300px; color: grey;  "  *ngIf="light"  (click)="changeligh(false)">
        Heavy (above 750kg) 
      </div>

    </div>
  
    
    <div class="row" *ngIf="light" style="margin-top: 20px; margin-bottom: 70px;" >
      
      <div style="width: 300px;">
        <div class="product-item" (click)="addvehicle('t1')" >
          <a class="product-img">
            <img class="photo" src="../../../../assets/New/tataace.jpeg" alt="" />
            
          </a>
          <div >
            <p style="font-size: 18px; color:grey;">750kg</p>
            
            <p>Tata Ace  (7ft)          </p>
           
            
            <p style="font-size: 12px; color:blue;">Book Now</p>
               
              
             </div>
          
        </div>
      </div>

      <div  style="width: 300px;">
        <div class="product-item" (click)="addvehicle1('t2')"   >
          <a class="product-img">
            <img class="photo" src="../../../../assets/New/boloro.jpeg" alt="" />
            
          </a>
          <div >
            <p style="font-size: 18px; color:grey;">1200kg</p>
            <p>Boloro(8ft)           </p>
            <p style="font-size: 12px; color:blue;">Book Now</p>
               
              
              
             </div>
        </div>
      </div>

      <div  style="width: 300px; ">
         <div class="product-item"    (click)="addvehicle2('t3')"   >
          <a class="product-img">
            <img class="photo" src="../../../../assets/New/canter.jpeg" alt="" />
            
          </a> 
           <div >
            <p style="font-size: 18px; color:grey;">3500kg</p>
            <p>Canter (14ft)        </p>
            <p style="font-size: 12px; color:blue;">Book Now</p>
               
              
              
             </div> 
         </div> 
      </div>


      <div  style="width: 300px;">
        <!-- <div class="product-item"   (click)="addvehicle('t4')">
          <a class="product-img">
            <img class="photo" src="./assets/img/t3.svg" alt="" />
            
          </a>
          <div >
            <p style="font-size: 8px; color:grey;">500kg</p>
            <p>3 Wheeler (Helper)</p>
            <p style="font-size: 12px; color:blue;">Book Now</p>
               
              
              
             </div>
        </div> -->
      </div>
    </div>

    <div *ngIf="!light" class="row" style="margin-top: 20px; margin-bottom: 70px;">
      <div  style="width: 350px;">
       
      </div>       
      <div style="width: 300px;">
        <div class="product-item" (click)="addvehicleHeavy1('t5')" >
          <a class="product-img">
            <img class="photo" src="../../../../assets/New/canter1.jpeg" alt="" />
            
          </a>
          <div >
            <p style="font-size: 18px; color:grey;">4500kg</p>
            <p>Canter 17 Ft
            </p>
            <p style="font-size: 12px; color:blue;">Book Now</p>
               
              
             </div>
          
        </div>
      </div>

      <div  style="width: 300px;">
        <div class="product-item" (click)=" addvehicleHeavy2('t6')"   >
          <a class="product-img">
            <img class="photo" src="../../../../assets/New/20ft.jpeg" alt="" />
            
          </a>
          <div >
            <p style="font-size: 18px; color:grey;">6 ton</p>
            <p>20ft          </p>
            <p style="font-size: 12px; color:blue;">Book Now</p>
               
              
              
             </div>

             
        </div>
        
      </div>

    </div>
   
 
    

        
   
   
 
    
  </div>

  <div *ngIf="!light" class="row" style="margin-top: 20px; margin-bottom: 70px;">
    <div  style="width: 350px;">
     
    </div>       
    <div style="width: 300px;">
      <div class="product-item" (click)="addvehicleHeavy3('t5')" >
        <a class="product-img">
          <img class="photo" src="../../../../assets/New/heavy.jpeg" alt="" />
          
        </a>
        <div >
          <p style="font-size: 18px; color:grey;">7 ton</p>
          <p>Single Xl (32 ft)
          </p>
          <p style="font-size: 12px; color:blue;">Book Now</p>
             
            
           </div>
        
      </div>
    </div>

    <div  style="width: 300px;">
      <div class="product-item" (click)="addvehicleHeavy4('t6')"   >
        <a class="product-img">
          <img class="photo" src="../../../../assets/New/heavy.jpeg" alt="" />
          
        </a>
        <div >
          <p style="font-size: 18px; color:grey;">14 ton</p>
          <p> Multiple Xl (32 ft)         </p>
          <p style="font-size: 12px; color:blue;">Book Now</p>
             
            
            
           </div>

           
      </div>
      
    </div>

  </div>
 

  

      
 
 

  
</div>


  <!-- <div class="section145" style="padding-top: 50px">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="main-title-tt">
            <div class="main-title-left">
              <span>For You</span>
              <h2>Added New Products</h2>
            </div>
            <a
              class="see-more-btn"
              [routerLink]="['/main-page', 'new-products']"
              >See All</a
            >
          </div>
        </div>
      </div>
    </div>
  </div> -->
