<div class="wrapper" style="background-color: #f7f7f7">
  <div class="container">
    <div class="row" style="padding-top: 10px">
      <div class="col-md-12">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a>Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">
              Terms And Conditions
            </li>
          </ol>
        </nav>
      </div>
    </div>
  </div>

  <div class="all-product-grid" style="padding: 0px 15px; min-width: 300px;">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12">
          <div class="job-main-dt">
            <h2 style="font-weight: bolder">Daakgadi</h2>
            <span
              >
              * Transit Time: Transit excludes the date of booking.
              The following goods are not acceptable for movement - Jewelry, Arms & Ammunition, 
              Hazardous materials like Crackers, Explosives, Chemicals, Battery Acids, and Inflammable Oils; 
              such as Diesel, Petrol, Kerosene, Gasoline, Narcotics & Counter brand Items.
              ** Your Price: The rates shown are indicative and not the final price. It includes Freight, ROV, Basic, DPH/ATF, Non-Metro, and ESS charges. The final price would depend on the exact volume, the value of the shipment and if any special service charges, etc. The charges are exclusive of Taxes
              
              * Freight Refund: The Refund of freight may be entertained subject to Force Majeures such as Strikes Bandh, Elections, Rains, Flood, Accidents, Festivals and other natural calamities and any other events beyond the control of Daak Gaadi etc. , including the routine and or sudden inspection carried out by the Authorities of the concerned departments such as Excise, Customs, Sales Tax, Gold Control, NDPS, Municipal, RTA, and any other authorities competent to inspect goods along with vehicle, which is beyond the control of Daak Gaadi. Household goods  & Bikes Packing, Loading, and Local Pickup Charges are extra. bike packing Charges Rs. 500 & per box Rs.150 , docket charges 500.  local pickup charges 1500 bikes and household goods. GST 18 and Surcharge 10 Percent extra on Total Billing.  All Payments in favor of M/S Daak Gaadi.We would
              request to pay us 50% of the all charges in advance along with your order and the balance on complete packing at the loading point. .Applicability. The provision set out and referred to in this consignment note shall apply to transportation thorough any mode and shall not be restricted to one mode transport only . Law and Jurisdiction: This contract shall be governed and construed in accordance with the law of India and all disputes and claims are subject to the exclusive and irrevocable jurisdiction of the Court in Gurugram Haryana only and no other court shall have jurisdiction. For further Terms and Conditions please refer to Daak Gaadi Docket's Terms and Conditions.</span
            >
            <div class="row mb-2">
              <div class="col-12 d-flex justify-content-center">
                <img height="100px" width="175px" src="assets/img/Daak-Gaddi-logo-03-removebg-preview.png" alt="">
              </div>
            </div>
          </div>
       
        </div>
      </div>
    </div>
  </div>
</div>
